# CloudIDE and Byted IDE includes
Include "/Users/bytedance/Library/Application Support/cloudide-cli/*/ssh.d/*"
Include /Users/bytedance/.byted-ide/ssh_config

# Personal hosts
Host 107.175.62.143
    HostName 107.175.62.143
    User root

Host jfy
    HostName 120.220.73.200
    Port 49922
    User root

Host hsy
    HostName 45.207.194.77
    User dev

Host yhy
    HostName 103.236.97.252
    Port 55797
    User root
    IdentityFile ~/.ssh/id_ed25519

Host rcroot
    HostName 107.175.62.143
    User root

Host rc
    HostName 107.175.62.143
    User dev

Include ~/.ssh/lxy

# Company hosts (only on company computers)
{{- if eq .chezmoi.os "darwin" }}
Host git.byted.org
    HostName git.byted.org
    Port 29418
    User dengguiyang
Host review.byted.org
    HostName git.byted.org
    Port 29418
    User dengguiyang
Host *.byted.org
    GSSAPIAuthentication yes
    User dengguiyang

Host db
    HostName 10.37.17.67
    User dengguiyang
{{- end }}